.container-fluid{
    font-family: 'Aleo';
    margin-top:50px;
}
.bg{
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;z-index: 2;
}
.btnn{
    margin-left: 1110px;
}
.btn{
    margin: 7px;
    font-size: 15px;
}
.btn2{
    background: grey;
    color:white;
    display: flex;
    margin-top: -60px;
    margin-left: 1120px;
    font-size: 20px;
}
.heading{
    margin-left: 380px;
}
.table{
    background-color: white;
    margin: 5px;
    padding: 2px;
    font-size: 20px;
}